<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    
</head>
<body>
    <div>
        <% if(cat){ %>
 <div>
    <img src="https://cdn.britannica.com/25/172925-050-DC7E2298/black-cat-back.jpg?w=300" alt="">
    <p>The cat <%=cat.name%> of the breed <%=cat.breed%> is <%=cat.age%> y.o</p>
 </div>
            <%}%>
    </div>
</body>
</html>